@{
    ViewBag.Title = "your order has been processed";
    Layout = "~/Views/Shared/_CartLayout.cshtml";
}


<h2>Thank you!</h2>
<p>The order will be sent to the delivery service as soon as possible! Good day</p>
